global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - '/etc/prometheus/prometheus_alerts.yml'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'model_metrics'
    scrape_interval: 5s
    static_configs:
      - targets: ['model-metrics:8000']
        labels:
          instance: 'model-metrics.onrender.com:8000'
          job: 'model_metrics'
